     <% include ../views/header %>

    
<div class="container">
<h1><%=tweet.title %></h1>
</div>

<div style="padding-left:5%;padding-right:5%">
  
      <p>
     <strong>Comments:</strong> <%=tweet.comment %><br>
      <i>Pinned: by <%=tweet.author %> in <%=tweet.datetime %></i>  <br>
  </p>
	  
<div class="alert alert-warning">

	  
	 <h2><cite><%=feed.text %></cite></h2> 

	
<p>
	  
	 <% if (feed.retweeted_status){ %>Retweeted
		  <%
	     } 
		 else
		 {
	     %>Tweeted
		  <%
		 }
	     %> 
 in 
          <span><%= feed.created_at %></span>
		  	  </p>
<p>
	 
	 <a href="https://x.com/elonmusk/status/<%=tweet.tID %>" target="_blank">Go to Tweet</a><br>
	 <a href="https://publish.x.com/oembed?url=https://x.com/interior/status/<%=tweet.tID %>" target="_blank">Download Tweet as JSON Data</a><br>
	     </div>
<p>
	  
      
      
      <% if (username==tweet.author) 
      { %>
      <div class="alert alert-success">
      <a href="<%=host%><%=directory%>delete/<%=tweet._id %>"><strong>Click</strong></a> to delete this pinned tweet
      </div>
        <% 
      }
      else
      {  
      %>
      <div class="alert alert-warning">
      You do not have <strong>authorization</strong> to delete this pinned tweet!
       </div>
      <%  
      }
      %>
      </p>
    </div>
</div>



   <!--Bootstrap CDN-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
